
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div style="color:red">

        The client @ViewData["Name"] has not been found !

    </div>
</body>
</html>
